<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
 	<%= form_tag(sessions_path, :method=>'post') do %>
 		<p>
 			Email<br />
 			<%= text_field_tag "Email" %>
 		</p>
 		<p>
 			Password<br />
 			<%= password_field_tag "Password"%>
 		</p>
 		<p>
 			<%= submit_tag 'Sign in', class: "btn btn-large btn-primary" %>
 		</p>		
 	<% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
